# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries
bin/
gobiru

# IDE
.idea/
.vscode/

# Docs output
docs/

# Dependencies
vendor/

# Logs
*.log

# OS
.DS_Store
